<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>[eSGBU] Notification de demande de rôle</title>
    </head>

    <body>
        <h1>Bonjour,</h1>
        <p><strong>{{ userName }}</strong> (EPPN : {{ eppn }}, MÉl: {{ mail }}) vient de créer un compte sur eSGBU et demande un rôle de <strong>{{ roleName }}</strong>.</p>
        <p>Une fois le compte validé par l'utilisateur, rendez-vous sur l'application <a href="{{ appUrl }}">eSGBU</a> pour valider ou refuser sa demande de rôle.</p>
    </body>
</html>
